.green{
    background-color: green;
    padding: 1rem;
    border: 1px solid black;
}
.red{
    background-color: red;
    padding: 1rem;
    border: 1px solid black;
}
.purple{
    background-color:purple;
}